
<th scope="row">{{this.transaction.date}}</th>
<td>{{this.transaction.description}}</td>
<td>${{this.transaction.cheque}}</td>
<td>${{this.transaction.deposit}}</td>
<td>${{this.transaction.balance}}</td>
